<mat-list role="list">
  <mat-list-item role="listitem">Should be written on the latest Angular</mat-list-item>
  <mat-list-item role="listitem">You have to provide a QR Code generator (Static QR Codes)</mat-list-item>
  <mat-list-item role="listitem">You have to use Angular Material for styles</mat-list-item>
  <mat-list-item role="listitem">Create a simple QR Code generator. It needs to have an input for text, automatically updated QR Preview and a “Download” button, which saves the QR in a .png format</mat-list-item>
</mat-list>
